<!DOCTYPE html>
<html>

<head>
  <title>
    Game Initialization
  </title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
</head>

<body>

  <div class="container">
    <div class="page-header">
      <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
          <button type='button' class='btn btn-info' onclick='window.location.replace("/redirect")'>Force update</button>
          <button type='button' class='btn btn-info' onclick="window.location.replace('/logout')">Logout</button>
        </div>
      </div>
      <h1>
        Game Initialization
        <img src="Gies-Logo.jpg" alt="Gies Logo" style="width:15%;" class="pull-right img-fluid">
      </h1>
    </div>
    <div class="jumbotron">
      <div class="form-group" onsubmit="gameSubmit()">
        <label>Game Name</label>
        <input class="form-control" id="game-name" type="text">
        <label>Production Cost for Low Quality</label>
        <input class="form-control" id="costLQ" type="text">
        <label>Production Cost for Medium Quality</label>
        <input class="form-control" id="costMQ" type="text">
        <label>Production Cost for High Quality</label>
        <input class="form-control" id="costHQ" type="text">
        <label>Price for Low Quality</label>
        <input class="form-control" id="resaleLQ" type="text">
        <label>Price for Medium Quality</label>
        <input class="form-control" id="resaleMQ" type="text">
        <label>Price for High Quality</label>
        <input class="form-control" id="resaleHQ" type="text">
        <br>
        <button type="submit" form="name" id="submit1" class="btn btn-success" onclick="gameSubmit()">Submit</button>
      </div>

    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    var countDecimals = function(value) {
      if (Math.floor(value) != value)
        return value.toString().split(".")[1].length || 0;
      return 0;
    }

  </script>
  <script>
    var socket = io.connect();

    function gameSubmit() {
	
	
      var isDollarAmount = true;
      var priceList = [];

      priceList.push(document.getElementById("costLQ").value);
      priceList.push(document.getElementById("costMQ").value);
      priceList.push(document.getElementById("costHQ").value);
      priceList.push(document.getElementById("resaleLQ").value);
      priceList.push(document.getElementById("resaleMQ").value);
      priceList.push(document.getElementById("resaleHQ").value);
  
  
     
    if (priceList[0]<0 || 0> priceList[3] || priceList[1]<0|| 0> priceList[4] || priceList[2]>0 || 0<priceList[5])
	
	
	{
	alert("Please enter  a higher resale value then production cost");
          return;
	}
	 

	if (priceList[0]> priceList[3] || priceList[1]> priceList[4] || priceList[2]> priceList[5])
	
	
	{
	alert("Please enter  a higher resale value then production cost");
          return;
	}


      for (var i = 0; i < priceList.length; i++) {
        var price = priceList[i];
        if (price == "") {
          alert("Please enter values for all fields.");
          return;
        }
        if (countDecimals(price) > 2) {
          alert("Check your production costs/resale prices for non-dollar amounts.");
          return;
        }
      }
       document.getElementById("submit1").disabled = 'true';
	
      socket.emit('gameSubmit', {
        name: document.getElementById("game-name").value,
        costLQ: document.getElementById("costLQ").value,
        costMQ: document.getElementById("costMQ").value,
        costHQ: document.getElementById("costHQ").value,
        resaleLQ: document.getElementById("resaleLQ").value,
        resaleMQ: document.getElementById("resaleMQ").value,
        resaleHQ: document.getElementById("resaleHQ").value
      });
    }

    socket.on('submitted', function(data) {
      window.location.replace('/admin_control');
    });

  </script>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>
